.vscode
.python-version
__pycache__
*.pyc
venv/
*/venv
*.so
.idea/
*.egg-info*
.coverage
*.pytest_cache
*.mypy_cache
.python-version
*.pkl
.pytest_cache

*.lock
*.turtle
*.wt
*.data
/data/WiredTiger.turtle
/data/WiredTiger.wt
/data/sizeStorer.wt
data/

/api/.env
/api/__pycache__